<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>
	<appSettings>
		<add key="port" value="14242" />
	</appSettings>
	<log4net>
		<root>
			<level value="INFO" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="C:\Logs\GameServer.log" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%-10p%d{yyyy-MM-dd HH:mm:ss,fff} – %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>